#left {
  margin-left: 3.75%;
  max-width: 32%;
  height: 375px;
}

#center {
  max-width: 32%;
  height: 375px;
}

#right {
  max-width: 32%;
  height: 375px;
}

body {
  opacity: 0.8;
	background-color: #F3E5F9;
}

p {
  font-family: fantasy;
}
